html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    color: #212121;
  }
  
 .search-form {
   margin: 20px;
   display: flex;
   justify-content: center;
   height: 30px;
 }

 .search-form input {
   width: 300px;
   margin-right: 10px;
 }

.btn {
  padding-left: 20px;
  padding-right: 20px;
}
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 16px; 
    padding: 0;
    list-style: none;
  }
  
  .gallery img {
    display: block;
    width: 100%;
    height: 250px;
  }
  
  .stats {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(194, 188, 188);
  }
  
  .stats-item {
    font-size: 24px;
    font-weight: bold;
    color: teal;
  }

  .btn-load {
    margin-left: auto;
    margin-right: auto;
  }
